# requirements.txt

# FastAPI framework and server
fastapi[all]
uvicorn

# Database
sqlalchemy
# mysqlclient
PyMySQL
alembic

# Async Tasks
celery
redis

# Data Science / AI
pandas
numpy
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-dotenv