# requirements.txt

# FastAPI framework and server
fastapi[all]
uvicorn

# Database
sqlalchemy
# mysqlclient
PyMySQL
alembic

# Add psycopg2-binary to support Postgres (optional when using DATABASE_URL)
psycopg2-binary

# Async Tasks
celery
redis

# Data Science / AI
pandas
numpy
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-dotenv